.life-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.hint-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.hint-btn {
  margin: 0 10px;
}

.input-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.extra-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.extra-input-container input {
  margin-right: 10px;
}
